@model IEnumerable<IdeaStorm.Domain.Entities.Storm>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StormID }) |
            @Html.ActionLink("Details", "Details", new { id=item.StormID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StormID })
        </td>
    </tr>
}

</table>

@foreach (var storm in Model)
{
    <div class="panel panel-default storm-card" style="width: 20rem;">
        <div class="panel-heading">
            @Html.ActionLink(storm.Title, "Details", new { id = storm.StormID })
            <div class="subtitle text-muted">
                <strong>@storm.User.Username</strong>
                <span title="@storm.CreatedTime">@storm.CreatedTime.ToShortDateString()</span>
            </div>
        </div>
        <div class="panel-body">
            <table class="storm-card">
                @foreach (var idea in storm.Ideas)
                {
                    <tr>
                        <td>
                            
                            @Html.ActionLink(idea.Title, "Edit", "Idea", new { id = idea.IdeaID }, null)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

}