@model IEnumerable<IdeaStorm.Domain.Entities.Storm>

@{
    ViewBag.Title = "Index";
}

<h2>Storms</h2>

@foreach (var storm in Model)
{
    <div class="panel panel-default storm-card">
        <div class="panel-heading">
            @Html.ActionLink(storm.Title, "Details", new { id = storm.StormID })
            <div class="subtitle text-muted">
                <strong>@storm.User.Username</strong>
                <span title="@storm.CreatedTime">@storm.CreatedTime.ToShortDateString()</span>
            </div>
        </div>
        <table class="table">
            @foreach (var spark in storm.Sparks)
                {
                <tr>
                    <td>
                        @if (spark.Idea != null)
                        {
                            @Html.ActionLink(spark.Title, "Edit", "Idea", 
                                new {id = spark.Idea.IdeaID}, null);
                        }
                        else
                        {
                            @spark.Title
                            @Html.ActionLink("+", "PromoteSpark", "Idea", new {id=spark.SparkID}, 
                           new {@class="btn btn-default pull-right", id="btn-promote"})
                        }
                    </td>
                </tr>
            }
        </table>
    </div>

}