@model IEnumerable<IdeaStorm.Domain.Entities.Storm>

@{
    ViewBag.Title = "Index";
}

<h2>Storms</h2>

@foreach (var storm in Model)
{
    <div class="panel panel-default storm-card">
        <div class="panel-heading">
            @Html.ActionLink(storm.Title, "Details", new { id = storm.StormID })
            <div class="subtitle text-muted">
                <strong>@storm.User.Username</strong>
                <span title="@storm.CreatedTime">@storm.CreatedTime.ToShortDateString()</span>
            </div>
        </div>
        <table class="table">
            @foreach (var spark in storm.Sparks)
                {
                <tr>
                    <td>
                        @spark.Title
                    </td>
                </tr>
            }
        </table>
    </div>

}