@model IdeaStorm.WebUI.Models.CreateIdeaViewModel
@{
    ViewBag.Title = "Add Idea";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Add Idea</h3>
    </div>

    @using (Html.BeginForm("Create", "Idea"))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.SparkID)
            <div class="form-group">
                <label>Title</label>
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })

                <label>Description</label>
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", rows = 5 } })

                <label>Category</label>
                @Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "form-control" } })
            </div>

        </div>

        <div class="panel-footer">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Cancel and return to List", "List", null,
                                new { @class = "btn btn-default" })
        </div>
    }
</div>