@using Microsoft.AspNet.Identity
@model IdeaStorm.Domain.Entities.Idea

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Title</h2>

<div>
    <h4>Idea</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

    </dl>
</div>
<p>
    @if (Model.User.Id == User.Identity.GetUserId())
    {
        @Html.ActionLink("Edit", "Edit", new {id = Model.IdeaID}) @:|
    }
    @Html.ActionLink("Back to List", "List", null,
                                new { @class = "btn btn-default" })
</p>
