@model IdeaStorm.Domain.Entities.Idea

@{
    ViewBag.Title = "Edit " + @Model.Name;
}

@using (Html.BeginForm())
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Edit @Model.Name</h3>
        </div>

            @using (Html.BeginForm())
            {
                <div class="panel-body">
                    @Html.HiddenFor(m => m.IdeaID)
                    @foreach (var property in ViewData.ModelMetadata.Properties)
                    {
                        switch (property.PropertyName)
                        {
                            case "IdeaID":
                            case "CreatedTime":
                            case "UpdatedTime":
                            case "AuthorID":
                                break;
                            default:
                                <div class="form-group">
                                    <label>@(property.DisplayName ?? property.PropertyName)</label>
                                    @if (property.PropertyName == "Description")
                                    {
                                        @Html.TextArea(property.PropertyName, null,
                                                        new { @class = "form-control", rows = 5 })
                                    }
                                    else
                                    {
                                        @Html.TextBox(property.PropertyName, null,
                                                        new { @class = "form-control" })
                                    }
                                </div>
                                break;
                        }
                    }
                </div>

                <div class="panel-footer">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    @Html.ActionLink("Cancel and return to List", "List", null, new
           {
               @class = "btn btn-default"
           })
                </div>
            }
        </div>
}