@model IdeaStorm.Domain.Entities.Idea

@{
    ViewBag.Title = "Edit " + Model.Title;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Edit @Model.Title</h3>
    </div>

    @using (Html.BeginForm("Edit", "Idea"))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.IdeaID)
            <div class="form-group">
                <label>IdeaID</label>
                <div>@Model.IdeaID</div>

                <label>Author</label>
                <div>@Model.User.Username</div>

                <label>UserID</label>
                <div>@Model.UserID</div>

                @if (Model.Storm != null)
                {
                    <label>Storm</label>
                        <div>@(Model.Storm.Title)</div>

                        <label>StormID</label>
                        <div>@(Model.Storm.StormID)</div>
                }

                <label>Title</label>
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })

                <label>Description</label>
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", rows = 5 } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })

                <label>Created Time</label>
                <div>@Model.CreatedTime</div>

                <label>Updated Time</label>
                <div>@Model.UpdatedTime</div>
            </div>

        </div>

        <div class="panel-footer">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Cancel and return to List", "List", null,
                                new { @class = "btn btn-default" })
        </div>
    }
</div>