@model IdeaStorm.Domain.Entities.Idea

@{
    ViewBag.Title = "Edit " + @Model.Title;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Edit @Model.Title</h3>
    </div>

    @using (Html.BeginForm("Edit", "Idea"))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.IdeaID)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                <div class="form-group">
                    @switch (property.PropertyName)
                    {
                        case "User":
                            <label>Author</label>
                            <div>@Model.User.Username</div>
                            break;
                        case "IdeaID":
                        case "CreatedTime":
                        case "UpdatedTime":
                        case "UserID":
                            <label>@(property.DisplayName ?? property.PropertyName)</label>
                            <div>@property.Model</div>
                            break;
                        default:
                            <label>@(property.DisplayName ?? property.PropertyName)</label>
                            if (property.PropertyName == "Description")
                            {
                                @Html.TextArea(property.PropertyName, null,
                                                    new { @class = "form-control", rows = 5 })
                            }
                            else
                            {
                                @Html.TextBox(property.PropertyName, null,
                                                    new { @class = "form-control" })
                            }
                            @Html.ValidationMessage(property.PropertyName)
                            break;
                    }
                </div>
            }
        </div>

        <div class="panel-footer">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Cancel and return to List", "List", null,
                                new { @class = "btn btn-default" })
        </div>
    }
</div>