@using IdeaStorm.Domain.Entities
@using Microsoft.AspNet.Identity
@model IEnumerable<Idea>

@{
    ViewBag.Title = "Ideas";
}

<h2>All Ideas</h2>

<ul class="list-group">
    @foreach (var idea in Model)
    {
        <ul class="list-group-item">
            <h4 class="list-group-item-heading">
                <strong>
                    @if (idea.User.Id == User.Identity.GetUserId())
                    {
                        @Html.ActionLink(idea.Title, "Edit", new {id = idea.IdeaID})
                    }
                    else
                    {
                        @Html.ActionLink(idea.Title, "Details", new { id = idea.IdeaID })
                    }
                </strong>
                <span class="pull-right label label-success">@idea.Category</span>
            </h4>
            
            <div class="tagline">
                <strong>@(idea.User.UserName)</strong> 
                <time class="timeago" datetime="@idea.CreatedTime.ToString("u")">@idea.CreatedTime</time>
                @if (idea.User.Id == User.Identity.GetUserId())
                {
                    @Html.ActionLink("Delete", "Delete", new {id = idea.IdeaID})
                }
            </div>

            <p id="idea-desc" class="list-group-item-text">@idea.Description</p>
        </ul>
    }
</ul>

@section Scripts
{
    <script>
        var $j = jQuery.noConflict();
        $j(document).ready(function() {
             $j("time.timeago").timeago();
        });
    </script>
}



