@using IdeaStorm.Domain.Entities
@model IEnumerable<Idea>

@{
    ViewBag.Title = "Ideas";
}

<h2>All Ideas</h2>

<ul class="list-group">
    @foreach (var i in Model)
    {
        <ul class="list-group-item">
            <h4 class="list-group-item-heading">
                <strong>@Html.ActionLink(i.Title, "Edit", new { id=i.IdeaID })</strong>
                <span class="pull-right label label-primary">@i.Category</span>
                @if (i.Storm != null)
                {
                    <span class="pull-right label label-success">@i.Storm.Title</span>
                }
            </h4>
            
            <div class="tagline">
                <strong>@i.User.Username</strong> 
                <time class="timeago" datetime="@i.CreatedTime.ToString("o")">@i.CreatedTime</time>
                @Html.ActionLink("Delete", "Delete", new { id=i.IdeaID })
            </div>

            <p id="idea-desc" class="list-group-item-text">@i.Description</p>
        </ul>
    }
</ul>

@section Scripts
{
    <script>
        var $j = jQuery.noConflict();
        $j(document).ready(function() {
             $j("time.timeago").timeago();
        });
    </script>
}



